<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: {{ section.settings.content_position }};
  }

  .content-align-left {
    align-items: start;
    text-align: left;
  }

  .content-align-center {
    align-items: center;
    text-align: center;
  }

  .content-align-right {
    align-items: end;
    text-align: right;
  }
</style>

<div class="flex justify-between bg-neutral-200 pt-12 px-12" style="background-color: {{ block.settings.bg_color }}">
  <img src="{{ section.settings.image_1 | img_url: '400x'}}" alt="">

  <div class="relative flex-container content-align-{{ section.settings.content_align }}">
    <div class="z-[100] absolute bottom-20 left-4 flex justify-center items-center w-32 h-32 rounded-full bg-lime-200 font-black">
      -20%
    </div>

    <div
      class="z-[101] absolute top-24 right-0 flex justify-center items-center w-32 h-32 rounded-full bg-purple-300 font-black"
      style="transform: rotate({{ section.settings.discount_rotate }}deg);"
    >
      -60%
    </div>
    <div>
      <div class="text-6xl font-black content-align-{{ section.settings.content_align }}">T-shirts sale</div>
      <div class="text-xl font-bold content-align-{{ section.settings.content_align }} pb-7">
        Quisquemos sodales suscipit tortor ditaemcos condimentum de cosmo lacus meleifend menean diverra loremous.
      </div>
    </div>
    <div class="px-14 py-4 text-white bg-black cursor-pointer">SHOP</div>
  </div>

  <img src="{{ section.settings.image_2 | img_url: '400x'}}" alt="">
</div>

{% schema %}
{
  "name": "Header banner",
  "max_blocks": 12,
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Banner image first"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Banner image second"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        {
          "value": "flex-start",
          "label": "Position content top"
        },
        {
          "value": "center",
          "label": "Position content center"
        },
        {
          "value": "flex-end",
          "label": "Position content bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Content aligment",
      "options": [
        {
          "value": "left",
          "label": "Align content left"
        },
        {
          "value": "center",
          "label": "Align content center"
        },
        {
          "value": "right",
          "label": "Align content right"
        }
      ]
    },
    {
      "type": "range",
      "id": "discount_rotate",
      "label": "Discount rotation",
      "min": 0,
      "max": 360,
      "step": 10,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "header-banner",
      "name": "Header banner",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Banner background color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header banner"
    }
  ]
}
{% endschema %}
